<div class="sidenav">
    <a routerLink='/'>Champtube</a>
    <p>----------------------------------</p>
    <a routerLink='/g1'>Music and Dance</a>
    <p>----------------------------------</p>
    <a routerLink='/g2'>Acting and Drama</a>
    <p>----------------------------------</p>
    <a routerLink='/g3'>Graphic and Photography</a>
    <p>----------------------------------</p>
    <a routerLink='/g4'>Sketching and Painting</a>
    <p>----------------------------------</p>
    <a routerLink='/g5'>Others</a>
    <p>----------------------------------</p>
</div>
